/* estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(imagenes/pizza-fondo.png) no-repeat center center/cover;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80vh;
    max-width: 600px;
    background: #fff;
    border: 1px solid #444;
    border-radius: 2em;
    opacity: 0.89;
}

h1 {
    font-size: 2.5rem;
    width: 100%;
    margin: 20px 10px;
}

.topping {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    color: #fff;
    margin: 15px 0;
    text-align: center;


}

ul {
    width: 100%;
    height: 100%;
    margin: 0 1em;
}

.fondo-naranja {
    background-color: #ff5722;
    border-radius: 1em;
}

.fondo-marron {
    border-radius: 1em;
    background-color: #795548;
}

li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.texto-verde {
    color: rgb(48, 230, 48);
    border: 1px solid rgb(0, 15, 0);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
}